* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.main {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 90%;
  background: blue;
  flex-wrap: wrap;
}
/* inizio sidebar */
.sidebar {
  width: 15%;
  height: calc(100% - 100px);
  background: #040503;
}

.sidebarup {
  width: 100%;
  height :90%;

}
.sidebarup ul {
  list-style: none;
  margin-top: 25px;

}
.sidebarup a {
  text-decoration: none;
  color: #696a67;
  font-size: 16px;
  font-weight: 700;

}
.sidebarup a:hover {
  color: white;
}
.sidebarup a.active {
  color: #1db954;
}

.sidebarup li {
  margin-top: 40px;
}
.sidebarup i {
  margin-right: 15px;
}
.logo {
  width: 50%;
  height: 50px;
  margin: 10%;
}
.logo img {

  max-width:100%;
  margin-left: 25px;

}
.playlist_one {
  margin-left: 40px;
  margin-top: 35px;

}
.playlist_one h3 {
  margin-bottom: 10px;
  font-size: 15px;
}
.playlist_one p {
  font-size: 13px;
}
.playlist_two {
  margin-left: 40px;
  margin-top: 20px;
}
.playlist_two p {
  font-size: 13px;
}
.playlist_one, .playlist_two p {
  color: #696a67
}
.sidebardown {
  width: 100%;
  height: 10%;
  background-color: #040503;
}

.sidebardown a {
  text-decoration: none;
  color: #696a67
}
.sidebardown i {
  margin-right: 10px;
}
.install, .name {
  margin-left: 15px;

}
.name {
  margin-top: 10px;
}
.install {
  margin-bottom: 10px;
}
hr {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #696a67;
  border: none;
  height: 1px;
}
.navbar {
  display: flex;
  width: 100%;
  height: 100px;
  background:  #040503;
  justify-content: center;
  align-items: center;

}
.navbar a {
  text-decoration: none;
  color: #696a67;
  text-transform: uppercase;
  font-size: 15px;
  margin: 0 30px;
}
.navbar a:hover {
  color: white;
}
.mainconteiner {
  height: calc(100% - 100px);
  width: 100%;
  background-color: #040503;
  overflow: auto;
}
.mainconteiner h1 {
  margin: 50px 15px;
  color: white;
}

.m_daily, .m_daily2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.daily_mix {
  width: 200px;
  height: auto;
  background-color: ;
  text-align: center;
  padding: 10px;
}
.daily_mix img {
  max-width: 100%;
}
.daily_mix a {
  text-decoration: none;
}
.daily_mix p {
  font-size: 11px;
  color: #696a67

}
.footermenu {
  width: 100%;
  height: 10%;
  background: green;
  flex-wrap: wrap;

}
.install a:hover {
  color: white;

}
.name a:hover {
  color: white;
}
.name a.active {
  color: white;
}
