* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: red;
  display: flex;
  flex-wrap: wrap;
}

.main {
  display: flex;
  width: 85%;
  height: 90%;
  background: blue;
}

.sidebar {
  width: 15%;
  height: 90%;
  background: #040503;
}

.sidebarup {
  width: 100%;
  height :90%;

}
.sidebarup ul {
  list-style: none;
  margin-top: 25px;

}
.sidebarup a {
  text-decoration: none;
  color: #696a67;
  font-size: 16px;
  font-weight: 700;

}
.sidebarup a:hover {
  color: white;
}
.sidebarup a.active {
  color: #1db954;
}

.sidebarup li {
  margin-top: 40px;
}
.sidebarup i {
  margin-right: 15px;
}
.logo {
  width: 50%;
  height: 50px;
  margin: 10%;
}
.logo img {

  max-width:100%;
  height: 50px;
  margin-left: 25px;

}
.playlist_one {
  margin-left: 40px;
  margin-top: 35px;

}
.playlist_one h3 {
  margin-bottom: 10px;
  font-size: 15px;
}
.playlist_one p {
  font-size: 13px;
}
.playlist_two {
  margin-left: 40px;
  margin-top: 20px;
}
.playlist_two p {
  font-size: 13px;
}
.playlist_one, .playlist_two p {
  color: #696a67
}
.sidebardown {
  width: 100%;
  height: 10%;
  background-color: #040503;
}

.sidebardown a {
  text-decoration: none;
  color: #696a67
}
.sidebardown i {
  margin-right: 10px;
}
.install, .name {
  margin-left: 15px;

}
.name {
  margin-top: 10px;
}
.install {
  margin-bottom: 10px;
}
hr {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #696a67;
  border: none;
  height: 1px;
}
.navbar {
  width: 100%;
  height: 150px;
  background: brown;

}
.footermenu {
  width: 100%;
  height: 10%;
  background: green;
  flex-wrap: wrap;

}
.install a:hover {
  color: white;
}
.name a:hover {
  color: white;
}
